@import "../../assets/scss/utilities/variables";
@import "../../assets/scss/utilities/functions";
@import "../../assets/scss/base/typography";

.Deposit {
  margin: response(45px) 0;
  width: 100%;

  &__Title {
    width: 100%;
    height: auto;
    margin-bottom: response(15px);
    @extend .font-mono-1;
    text-align: center;
    color: var(--green);
  }

  &__Details {
    width: 100%;
    height: auto;
  }

  .btn {
    border-radius: 0;
    margin: response(10px) 0;
    @extend .font-mono-4;
  }

  &__Method {
    &__Btn {
      width: 100% !important;
      height: response(60px) !important;
      display: flex !important;
      justify-content: center !important;
      border-color: transparent !important;
      align-items: center !important;
      color: var(--white) !important;
      box-shadow: 0 10px 10px -6px var(--dark) !important;
      &.bitcoinIcon {
        background-color: var(--orange) !important;
      }
      &.creditCardIcon {
        background-color: var(--primary) !important;
      }
      &.active {
        box-shadow: 0 10px 10px -6px var(--green) !important;
      }
    }
    &__Icon {
      margin-right: response(10px);
      width: response(40px);
      height: response(40px);
    }
  }
}